<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="" [routerLink]="['/home']">
                <img src="../../assets/img/anime_logo.png" class="img-navbar" alt="Anime Logo">
            </a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <!-- clase active para desabilitar en el navbar -->
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" href=" " [routerLink]="['/home']">home</a>
                </li>

                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" href=" " [routerLink]="['/anime']">Anime List</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <!-- clase disabled para desabilitar en el navbar -->
                    <a class="nav-link " href=" " [routerLink]="['/anime-top']">Top Anime</a>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" [routerLink]="['/search', searchTerm]" (keyup.enter)="findAnime(searchTerm.value)" #searchTerm>
                <button [routerLink]="['/search', searchTerm]" (click)="findAnime(searchTerm.value)" class="btn btn-outline-primary my-2 my-sm-0" type="button">Search</button>
            </form>
        </div>

    </nav>
</div>