<div class="card " [id]="character.id ">
    <div class="card-header ">
        <h5 class="card-title "><i class="fas fa-film "></i> {{ character.name }}</h5>
    </div>
    <div class="card-body ">

        <label for="Gender"><i class="fas fa-venus-mars "></i> Gender</label>
        <span class="badge badge-primary m-1"> {{ character.gender }}  </span>
        <label for="Age"><i class="fas fa-calendar"></i> Age</label>
        <span class="badge badge-primary m-1"> {{ character.age }}  </span>
    </div>
</div>