<div class="container container-fuild mg-top-20">

    <div class="row">
        <div class="col">
            <h2 class="mg-top-bot-20"> Results of "{{ searchTerm }}"</h2>
            <hr class="divider">

            <div class="row" *ngIf="animeList.length == 0">
                <div class="alert alert-danger" role="alert">
                    Non found results of "{{ searchTerm }}"
                </div>
            </div>

            <div class="card-columns">

                <app-anime-card [anime]="anime" [id]="id" *ngFor="let anime of animeList; let id= index;"> </app-anime-card>

            </div>

        </div>
    </div>