<div class="container container-fuild body-content">
    <div class="row">

        <div class="col anime-title">
            <h2 class="text-capitalize">{{ anime.title | uppercase }} <small> {{ anime.release_date }}  </small> </h2>
        </div>

    </div>

    <hr class="divider">

    <div class="row" [id]="anime.id">

        <div class="col-md-12">
            <h3><i class="fas fa-video "></i> Director <small> {{ anime.director }} </small></h3>
            <p class="card-text badge badge-primary m-1"><i class="fas fa-edit "></i> {{ anime.producer }}</p>
            <p class="card-text badge badge-primary m-1"><i class="fas fa-plus "></i>Score {{ anime.rt_score }}</p>
            <p class="text-center anime-letter">{{ anime.description }} </p>
            <hr class="divider">
            <a name="" id="" class="btn btn-outline-primary btn-block" href="" [routerLink]="['/anime']" role="button"> Back Anime List </a>

            <!-- <div class="row justify-content-md-center">
                <div class="col-lg-2 col">

                </div>
                
                <ng-container class="col-md-auto" *ngIf="anime.casa === 'Marvel'; else elseTemplateDC">
                    <img class="img-logo" src="../../assets/img/Marvel_logo.png" alt="Marvel">
                </ng-container>
                <ng-template #elseTemplateDC>
                    <img class="img-logo" src="../../assets/img/Dc_logo.png" alt="DC">
                </ng-template>

                <div class="col-lg-2 col">

                </div>

            </div> -->

        </div>
    </div>

</div>