<div class="card" [id]="anime.id">
    <div class="card-header">
        <h5 class="card-title">{{ anime.title }}</h5>
        <!-- <a name="" [id]="anime.id" href="#" [routerLink]="['/anime-detail', id]">
        <img class="card-img-top" [src]="anime.img" [alt]="anime.nombre">
    </a> -->
    </div>
    <div class="card-body">
        <p class="card-text">{{ anime.director }}</p>
        <p class="card-text">{{ anime.producer }}</p>
        <p class="card-text">{{ anime.description }}</p>
        <button type="button" class="btn btn-outline-primary btn-block" (click)="getId(anime.id)"> See More of {{ anime.title    }}!!</button>
    </div>
    <div class="card-footer">
        <small class="text-muted text-center">{{ anime.release_date }}</small>
    </div>
</div>