.mg-top-20 {
    margin-top: 40px;
}

.mg-bot-20 {
    margin-bottom: 20px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* add when you are using navbar with class fixed-top */
    padding-top: 70px;
}